.root {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 0px 24px;
  .settingWrapper {
    display: flex;
    justify-content: flex-end;
  }
  .content {
    .otherLogin {
      position: relative;
      display: flex;
      margin-top: 30px;
      justify-content: center;
      align-items: center;
      .text {
        position: absolute;
        background-color: #fff;
        padding: 0 20px;
        color: #999;
        font-size: 12px;
      }
      .line {
        width: 100%;
        border-top: 1px solid #999;
      }
    }

    .otherLoginButtonsWrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 30px;
      .buttonWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 60px;
      }
      .buttonText {
        text-align: center;
        color: #999;
        font-size: 12px;
        padding: 5px 0;
      }
    }
  }
}
