.rootHeader {
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;

  .title {
    color: #333;
    font-size: 13px;
    font-weight: bold;
  }
}
